{block content}


{dump}

<div>
	this is content of Dashboard:default presenter, which is core of package extension
</div>


<table>
	<tr>
		<th>ID</th>
		<th>Název package</th>
		<th>Popisek</th>
		<th></th>
	</tr>


	{foreach $service->getPackages() as $package}
		<tr>
			<td>{$iterations+1}</td>
			<td>
				<a n:href=":AdminPackage:$package->fullName:$package->presenter:$package->action">
					{$package->name}
				</a>
			</td>
			<td>{$package->description}</td>
			<td></td>
		</tr>


	{/foreach}


</table>
